{% extends 'design/base.html' %}
{% block title %}<title>Все заявки</title>{% endblock %}
{% block content %}
    <h1>Все заявки</h1>
    <form action="{% url 'all_applications' %}" method="GET">
        <select name="status">
            <option value="">Все</option>
            <option value="n">Новые</option>
            <option value="a">Принятые в работу</option>
            <option value="d">Выполненные</option>
        </select>
        <button type="submit">Фильтровать</button>
    </form>
    {% if applications_list %}
        <ul>
            {% for application in applications_list %}
                <ul>
                    <li>Временная метка: {{ application.app_date_created }}</li>
                    <li>Название заявки: {{ application.app_name }}</li>
                    <li>Описание заявки: {{ application.app_description }}</li>
                    <li>Категория заявки: {{ application.app_category }}</li>
                    <li>Статус заявки: {{ application.get_status_display }}</li>
                    <li><a type="button" href="{% url 'detail_application' application.id %}">Открыть заявку</a></li>
                </ul>
            {% endfor %}
        </ul>
    {% else %}
    <h2>Нет заявок</h2>
    {% endif %}
{% endblock %}