<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %}<title>Заголовок</title>{% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'index' %}">Главная</a>
        {% block header %}
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Выйти</a>
                <a href="{% url 'create_application' %}">Создать заявку</a>
                <a href="#">Мои заявки</a>
                <a href="{% url 'profile' %}">Личный кабинет</a>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        {% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>